<link rel="import" href="../bower_components/vaadin-combo-box/theme/material/vaadin-combo-box.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-money-input-ench/paper-money-input-ench.html">
<link rel="import" href="../bower_components/apollo-client/graphql-query.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../components/cru-form-mixin.html">

<script>
    /**
    * @namespace Medhis.
    */
    window.Medhis = window.Medhis || {};
    window.Medhis.tarifaFormInstance = null;

    /**
        * `tarifa-form` Formulario para agregar o editar una tarifa.
        *
        * @customElement
        * @polymer
        * @extends {Polymer.Element}
        * @appliesMixin Medhis.CRUFormMixin
        */
    class TarifaForm extends Medhis.CRUFormMixin(Polymer.Element) {
        /**
            * String providing the tag name to register the element under.
            */
        static get is() {
            return 'tarifa-form';
        }

        /**
            * Object describing property-related metadata used by Polymer features
            */
        static get properties() {
            return {
                /**
                    * Id del convenio
                    */
                convenio: String,

                /**
                    * Id de la institucion
                    */
                institucion: String,
            };
        }

        static get template() {
            return Polymer.html`
                <style>
                    :host {
                        display: block;
                    }

                    * {
                        box-sizing: border-box;
                    }

                    paper-dialog {
                        width: 60%;
                    }

                    vaadin-combo-box {
                        width: 100%;
                    }
                </style>

                <graphql-query result="{{formData}}" defer>
                    query tarifaFormData {
                        servicios {
                            results { id ,nombre @title_case }
                        }
                    }
                </graphql-query>

                <graphql-query id="datos-objeto-query" hold>
                    query datosTarifa ($id: ID!) {
                        tarifa(id: $id) {
                            id
                            valor
                            coopago
                            servicio { id }
                        }
                    }
                </graphql-query>

                <paper-dialog modal opened="{{opened}}">
                    <h2>Tarifa</h2>
                    <paper-dialog-scrollable>
                        <iron-form id="form">
                            <form>
                                <vaadin-combo-box label="Servicio" required items="[[formData.servicios.results]]"
                                    item-label-path="nombre" item-value-path="id" value="{{value.servicio}}">
                                </vaadin-combo-box>
                                <paper-money-input-ench label="Valor" required precision="0" max-value="99999999999999"
                                    value="{{value.valor}}">
                                </paper-money-input-ench> 
                                <paper-money-input-ench label="Coopago" precision="0" max-value="99999999999999"
                                    value="{{value.coopago}}">
                                </paper-money-input-ench> 
                            </form>
                        </iron-form>
                    </paper-dialog-scrollable>
                    <div class="buttons">
                        <paper-button dialog-dismiss>Cancelar</paper-button>
                        <paper-button on-tap="save">[[accion]]</paper-button>
                    </div>
                </paper-dialog>
            `;
        }

        /**
            * Instance of the element is created/upgraded. Useful for initializing
            * state, set up event listeners, create shadow dom.
            * @constructor
            */
        constructor() {
            super();
            if (!window.Medhis.tarifaFormInstance) window.Medhis.tarifaFormInstance = this;
            this.createdResultName = 'crearTarifa';
            this.editedResultName = 'editarTarifa';
            this.objectResultName = 'tarifa';
        }

        /**
            * @override
            */
        _cleanFormulario() {
            super._cleanFormulario();
            [...this.shadowRoot.querySelectorAll('paper-money-input-ench')].map(e => e.clean());
        }

        /**
            * LLena el formulario con los datos obtenidos.
            */
        _fillFormulario(data) {
            const { valor, coopago, servicio } = data;
            this.value = {
                valor,
                coopago,
                servicio: servicio.id,
            };
        }

        /**
            * @override
            */
        _createOptions(value) {
            const createMutation = Apollo.gql`
            mutation crearTarifa($tarifa: TarifaCreateGenericType!) {
                crearTarifa(input: $tarifa) {
                    ok
                    errors { field, messages }
                }
            }`;

            return {
                mutation: createMutation,
                variables: { tarifa: { institucion: this.institucion, plan: this.convenio, ...value } },
                refetchQueries: ['todasTarifas'],
            };
        }

        /**
            * @override
            */
        _editOptions(id, value) {
            const editMutation = Apollo.gql`
            mutation editarTarifa($tarifa: TarifaUpdateGenericType!) {
                editarTarifa(input: $tarifa) {
                    ok
                    errors { field, messages }
                    tarifa {
                        id
                        valor
                        coopago
                        servicio { id, nombre }
                    }
                }
            }`;

            return {
                mutation: editMutation,
                variables: { tarifa: { id, institucion: this.institucion, plan: this.convenio, ...value } },
            };
        }
    }

    window.customElements.define(TarifaForm.is, TarifaForm);
</script>
